<!DOCTYPE html>
<html>
<head>
<title>Welcome to your new Email account!</title>
<style>
    body {
        width: 55em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Dear username@domain,</h1>

<p><b><em>Welcome</em></b> to your new email account powered by the world's most advanced Email Infrastructure. Feel free to reach out for questions and assistance.</p>

<p>
Cheers,<br>
Staff
</p>
<hr>
<p><a href="https://webmail.example.email">Webmail</a> | <a href="mailto: admin@example.email">Contact</a></p>
</body>
</html>
